<html xmlns:th="http://www.thymleaf.org">
<head>
<style type="text/css">
/* Set a background image by replacing the URL below */
body {
  /* background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed; */
  background: #e8e8e8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
} 

.mg-ud{
margin-top: 10px;
margin-bottom: 10px;
}

.container{
max-width:800px !important;
}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand" href="#">Template Creator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <!-- <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul> -->
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Template Details</h1>
      <form th:object="${letterTemplate}"  th:action="@{/letter/template}" method="post" class="form-signin" id="form">
      <div class="form-label-group mg-ud" >
                <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Name" required/>
       </div>
        <div class="form-label-group mg-ud">
                <textarea id="body" class="form-control" th:field="*{body}" rows="13" cols="6" placeholder="Body" required></textarea>
       </div>
       <div class="row">
	       <div class="col text-center">
	       		<input class="btn btn-primary btn-lg text-uppercase" type="submit" value="Save" onclick="form.submit();"/>
	    	</div>
       </div>
      	
       </form>
    </div>
  </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.15.1/standard-all/ckeditor.js"></script>

<script>	
CKEDITOR.replace('body',{
	width:  '670px',
	height: '200px'
	});
    
</script>
</body>
</html>